USE [master]
GO
/****** Object:  Database [mutrack_simple]    Script Date: 26/04/2016 19:14:31 ******/
CREATE DATABASE [mutrack_simple]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mutrack_simple', FILENAME = N'D:\programas_64\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\mutrack_simple.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mutrack_simple_log', FILENAME = N'D:\programas_64\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\mutrack_simple_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mutrack_simple].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mutrack_simple]
GO
/****** Object:  Table [dbo].[tb_package]    Script Date: 26/04/2016 19:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_package](
	[pk_id] [int] NOT NULL,
	[name] [nchar](60) NOT NULL,
	[code] [nchar](20) NOT NULL,
	[description] [nchar](10) NULL,
	[register_date] [datetime] NOT NULL,
	[ower_id] [int] NOT NULL,
 CONSTRAINT [PK_tb_package] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_permission]    Script Date: 26/04/2016 19:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_permission](
	[pk_id] [int] NOT NULL,
	[role] [nchar](45) NOT NULL,
 CONSTRAINT [PK_tb_permission] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 26/04/2016 19:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[pk_id] [int] NOT NULL,
	[name] [nchar](120) NOT NULL,
	[email] [nchar](255) NOT NULL,
	[password] [nchar](128) NOT NULL,
 CONSTRAINT [PK_tb_user] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_tb_user] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_user_permission]    Script Date: 26/04/2016 19:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user_permission](
	[permission_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_tb_user_permission] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tb_package]  WITH CHECK ADD  CONSTRAINT [FK_tb_package_tb_user] FOREIGN KEY([ower_id])
REFERENCES [dbo].[tb_user] ([pk_id])
GO
ALTER TABLE [dbo].[tb_package] CHECK CONSTRAINT [FK_tb_package_tb_user]
GO
ALTER TABLE [dbo].[tb_user_permission]  WITH CHECK ADD  CONSTRAINT [FK_tb_user_permission_tb_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[tb_permission] ([pk_id])
GO
ALTER TABLE [dbo].[tb_user_permission] CHECK CONSTRAINT [FK_tb_user_permission_tb_permission]
GO
ALTER TABLE [dbo].[tb_user_permission]  WITH CHECK ADD  CONSTRAINT [FK_tb_user_permission_tb_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[tb_user] ([pk_id])
GO
ALTER TABLE [dbo].[tb_user_permission] CHECK CONSTRAINT [FK_tb_user_permission_tb_user]
GO
USE [master]
GO
