<div>
  <button type="button" ng-hide="showAddEditPackagee" ng-click="show()">
    New Package
  </button>

  <form ng-submit="savePackagee(packagee)" ng-hide="!showAddEditPackagee">
    <div>
      <label>Name</label>
      <input type="text" placeholder="Name" ng-model="packagee.name" minlength="2" maxlength="60" required>
    </div>

    <div>
      <label>Code</label>
      <input type="text" placeholder="Code" ng-model="packagee.code" maxlength="20" required>
    </div>

    <div>
      <label>Description</label>
      <input type="text" placeholder="Description" ng-model="packagee.description" maxlength="150">
    </div>

    <button type="submit">Save</button>
    <button type="button" ng-click="hide()">Cancel</button>
  </form>

  <div>
    <br/><h3>Packages</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="packagee in packagees">
          <td>{{ packagee.name }}</td>
          <td>{{ packagee.code }}</td>
          <td>{{ packagee.description }}</td>
          <td><button ng-click="editPackagee(packagee)">Edit</button></td>
          <td><button ng-click="deletePackagee(packagee)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
